*.xlsx
*.zip
*.gz
*.csv
*.html
*.pdf
*.DS_Store
*.code-workspace
.env
*.env.*
*.parquet
*.json
*.tmp
*.driveupload
*.pptx
*.png
*.npz
*.joblib
*logs
*.log
*.doc
*.docx
*.xls
*.sqlite
*.ipython/
*.mov

# Hugging Face cache
API/.cache/huggingface/

mlruns/
*.pkl
*.joblib

*.log
*logs/
*.tmp
*.driveupload

# IPython history and startup files
Dashboard/.cache/
Dashboard/.npm/
Dashboard/.ipython/
API/.cache/
API/.npm/
API/.ipython/

Icon?

__pycache__/
*.pyc
*.pyo
.ipynb_checkpoints/